<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" />
    <link rel="stylesheet" th:href="@{css/admin_css.css}" />
    <link th:href="@{/css/mycss.css}" rel="stylesheet" />
    <link th:href="@{/font/themify-icons/themify-icons.css}" rel="stylesheet" />
    <title>CONVERSE - Quản Lý Người Dùng</title>
</head>

<body style="background-color: rgb(238, 238, 238);">
    <!-- top navigation bar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">

        <div class="container-fluid">
            <button class="btn btn-outline-secondary" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#sidebar">
                <span class="navbar-toggler-icon" data-bs-target="#sidebar"></span>
            </button>
            <!-- <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebar"
                aria-controls="offcanvasExample">
                <span class="navbar-toggler-icon" data-bs-target="#sidebar"></span>
            </button> -->
            <a class="navbar-brand me-auto ms-lg-0 ms-3 text-uppercase fw-bold" href="#"><img src="/images/logo.png"
                    alt="logo" style="margin-left: 25px;"></a>
        </div>
    </nav>
    <!-- top navigation bar -->
    <!-- MENU đứng bắt đầu -->
    <div class="offcanvas offcanvas-start sidebar-nav bg-dark" tabindex="-1" id="sidebar" style="font-size: 16px;">
        <div class="offcanvas-body p-0">
            <nav class="navbar-dark">
                <ul class="navbar-nav">
                    <a class="navbar-brand me-auto ms-lg-0 ms-3 text-uppercase fw-bold" href="#"><img class="img-logo"
                            src="/images/logo.png" alt="logo"></a>
                    <li class="my-4">
                        <hr class="dropdown-divider bg-light" />
                    </li>
                    <li>
                        <div class="text-muted small fw-bold text-uppercase px-3 mb-3">
                            Quản lý
                        </div>
                    </li>
                    <!-- Quản lý người dùng bắt đầu  -->
                    <li>
                        <a class="nav-link px-3 sidebar-link" data-bs-toggle="collapse" href="#nguoidung">
                            <span class="me-2"><i class="bi bi-person"></i></span>
                            <span>Quản lý người dùng</span>
                            <span class="ms-auto">
                                <span class="right-icon">
                                    <i class="bi bi-chevron-down"></i>
                                </span>
                            </span>
                        </a>
                        <div class="collapse" id="nguoidung">
                            <ul class="navbar-nav ps-3">
                                <li>
                                    <a th:href="@{/admin_nguoidung}" class="nav-link px-3">
                                        <span class="me-2"><i class="bi bi-person-circle"></i></span>
                                        <span>Người dùng</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <!-- Quản lý người dùng kết thúc  -->

                    <!-- Quản lý nhà cung cấp bắt đầu  -->
                    <li>
                        <a th:href="@{/admin_nhacungcap}" class="nav-link px-3">
                            <span class="me-2"><i class="bi bi-book-fill"></i></span>
                            <span>Quản lý nhà cung cấp</span>
                        </a>
                    </li>

                    <!-- Quản lý nhà cung cấp kết thúc  -->

                    <!-- Quản lý khuyến mãi bắt đầu  -->
                    <li>
                        <a class="nav-link px-3 sidebar-link" data-bs-toggle="collapse" href="#khuyenmai">
                            <span class="me-2"><i class="bi bi-window"></i></span>
                            <span>Quản lý khuyến mãi</span>
                            <span class="ms-auto">
                                <span class="right-icon">
                                    <i class="bi bi-chevron-down"></i>
                                </span>
                            </span>
                        </a>
                        <div class="collapse" id="khuyenmai">
                            <ul class="navbar-nav ps-3">
                                <li>
                                    <a th:href="@{/admin_khuyenmai}" class="nav-link px-3">
                                        <span class="me-2"><i class="bi bi-window-sidebar"></i></span>
                                        <span>Khuyến mãi</span>
                                    </a>
                                </li>
                                
                            </ul>
                        </div>
                    </li>

                    <!-- Quản lý khuyến mãi kết thúc  -->

                    <!-- Quản lý sản phẩm bắt đầu  -->
                    <li>
                        <a class="nav-link px-3 sidebar-link" data-bs-toggle="collapse" href="#sanpham">
                            <span class="me-2"><i class="bi bi-menu-button-wide-fill"></i></span>
                            <span>Quản lý sản phẩm</span>
                            <span class="ms-auto">
                                <span class="right-icon">
                                    <i class="bi bi-chevron-down"></i>
                                </span>
                            </span>
                        </a>
                        <div class="collapse" id="sanpham">
                            <ul class="navbar-nav ps-3">
                                <li>
                                    <a th:href="@{/admin_danhmucsanpham}" class="nav-link px-3">
                                        <span class="me-2"><i class="bi bi-menu-button-fill"></i></span>
                                        <span>Danh mục sản phẩm</span>
                                    </a>
                                </li>
                                <li>
                                    <a th:href="@{/admin_sanpham}" class="nav-link px-3">
                                        <span class="me-2"><i class="bi bi-menu-app-fill"></i></span>
                                        <span>Sản phẩm</span>
                                    </a>
                                </li>
                                <li>
                                    <a th:href="@{/admin_size}" class="nav-link px-3">
                                        <span class="me-2"><i class="bi bi-menu-app"></i></span>
                                        <span>Size</span>
                                    </a>
                                </li>
                                <li>
                                    <a th:href="@{/admin_sanphamsize}" class="nav-link px-3">
                                        <span class="me-2"><i class="bi bi-menu-app"></i></span>
                                        <span>Sản phẩm Size</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <!-- Quản lý sản phẩm kết thúc  -->

                    <!-- Quản lý đơn hàng bắt đầu  -->
                    <li>
                        <a class="nav-link px-3 sidebar-link" data-bs-toggle="collapse" href="#donhang">
                            <span class="me-2"><i class="bi bi-bag-fill"></i></span>
                            <span>Quản lý đơn hàng</span>
                            <span class="ms-auto">
                                <span class="right-icon">
                                    <i class="bi bi-chevron-down"></i>
                                </span>
                            </span>
                        </a>
                        <div class="collapse" id="donhang">
                            <ul class="navbar-nav ps-3">
                                <li>
                                    <a th:href="@{/admin_donhang}" class="nav-link px-3">
                                        <span class="me-2"><i class="bi bi-bag"></i></span>
                                        <span>Đơn hàng</span>
                                    </a>
                                </li>
                                <li>
                                    <a th:href="@{/admin_donhang}" class="nav-link px-3">
                                        <span class="me-2"><i class="bi bi-bag-check"></i></span>
                                        <span>Đơn hàng đã giao</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <!-- Quản lý đơn hàng kết thúc  -->

                    <li class="my-4">
                        <hr class="dropdown-divider bg-light" />
                    </li>
                    <!-- Quản lý tài khoản bắt đầu  -->
                    <li>
                        <div class="text-muted small fw-bold text-uppercase px-3 mb-3">
                            Tài khoản
                        </div>
                    </li>
                    <li>
                        <a class="nav-link px-3 sidebar-link" data-bs-toggle="collapse" href="#taikhoan">
                            <span class="me-2"><i class="bi bi-bag-fill"></i></span>
                            <span>Xin chào Quang Minh</span>
                            <span class="ms-auto">
                                <span class="right-icon">
                                    <i class="bi bi-chevron-down"></i>
                                </span>
                            </span>
                        </a>
                        <div class="collapse" id="taikhoan">
                            <ul class="navbar-nav ps-3">
                                <li>
                                    <a th:href="@{/doimatkhau}" class="nav-link px-3">
                                        <span class="me-2"><i class="bi bi-bag"></i></span>
                                        <span>Đổi mật khẩu</span>
                                    </a>
                                </li>
                                <li>
                                    <a th:href="@{/admin_thongtincanhan}" class="nav-link px-3">
                                        <span class="me-2"><i class="bi bi-bag-check"></i></span>
                                        <span>Thông tin cá nhân</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <!-- Quản lý tài khoản kết thúc  -->

                    <li class="my-4">
                        <hr class="dropdown-divider bg-light" />
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <!-- MENU đứng kết thúc -->

    <!-- main content start  -->
    <main id="#main-order">
        <div class="container-fluid">
            <div class="row" style="background-color: white; box-shadow: 10px 10px 25px grey; ">
                <div class="col-md-7">
                    <h4 style="padding: 2rem 0;">Quản Lý Người Dùng</h4>
                    <div th:if="${message}">
                    	<h5 class="text-danger text-center" th:text="${message}"></h5>
                    </div>
                </div>
                <div class="col-md-5">
                    <form class="d-flex" style="padding-top: 4%;">
                        <input class="form-control me-2" type="search" placeholder="Tên người dùng" aria-label="Search"
                            style="width: 66%;">
                        <button class="btn btn-primary" type="submit">Tìm kiếm</button>
                    </form>
                </div>
            </div>
            <div class="row article " style="display: flex; justify-content: center;">
                <div class="col-md-11 mt-5"
                    style="background-color: white; box-shadow: 10px 10px 25px grey;padding: 0; ">
                    <div class="card">
                        <div class="card-header"
                            style="font-weight: bolder; font-size: larger; color: rgb(25, 31, 32);">
                            Form Người Dùng
                        </div>
                        <div class="card-body">
                            <form th:object="${u}">
                                <div class="row">
                                    <div class="mb-3 col-md-6">
                                        <label for="exampleFormControlInput1" class="form-label">Mã người dùng</label>
                                        <input type="number" class="form-control" id="exampleFormControlInput1"
                                            placeholder="" th:field="*{mand}" readonly="true" >
                                    </div>
                                    <div class="mb-3 col-md-6">
                                        <label for="exampleFormControlInput1" class="form-label">Họ và tên</label>
                                        <input type="text" class="form-control" id="exampleFormControlInput1"
                                            placeholder="" th:field="*{hoten}">
                                    </div>
                                    <div class="mb-3 col-md-6">
                                        <label for="exampleFormControlInputEmail" class="form-label">Email</label>
                                        <input type="email" class="form-control" id="exampleFormControlInput1"
                                            placeholder="" th:field="*{email}">
                                    </div>
                                    <div class="mb-3 col-md-6">
                                        <label for="exampleFormControlInput1" class="form-label">Số Điện Thoại</label>
                                        <input type="number" class="form-control" id="exampleFormControlInput1"
                                            placeholder="" th:field="*{sdt}">
                                    </div>
                                    <div class="mb-3 col-md-6">
                                        <label for="exampleFormControlInput1" class="form-label">Địa Chỉ</label>
                                        <input type="text" class="form-control" id="exampleFormControlInput1"
                                            placeholder="" th:field="*{diachi}">
                                    </div>
                                    <div class="mb-3 col-md-6">
                                        <label for="exampleFormControlInput1" class="form-label">Mật khẩu</label>
                                        <input type="text" class="form-control" id="exampleFormControlInput1"
                                            placeholder="" th:field="*{matkhau}">
                                    </div>

                                    <div class="mb-3 col-md-6">
                                        <label for="anh" class="form-label">Hình ảnh</label> <br>
<!-- Nếu đối tượng user không null và có đường dẫn hình ảnh -->

<img th:if="${u.hinh != null }" th:src="@{'/images/userImages/'+${u.hinh}}"  alt="User Image" th:field="*{hinh}"/>

<!-- Nếu không có đường dẫn hình ảnh hoặc đối tượng user là null -->
<img th:unless="${u.hinh != null }" src="https://via.placeholder.com/150" alt="Default Image" th:field="*{hinh}"/>

                                        <input type="file" class="form-control" id="anh" placeholder="" th:field="*{hinh}" name="hinh" accept=".jpg, .jpeg, .png, .gif" style="">
                                    </div>
									<div class="mb-3 col-md-6">
                                        <p>Vai trò</p>
                                        <input type="radio" id="admin" name="role" th:checked="${vaitro == null || vaitro == false}" value="true" th:field="*{vaitro}">
                                        <label for="html">Quản lý</label><br>
                                        <input type="radio" id="customer" name="role" th:checked="${vaitro == true}" value="false" th:field="*{vaitro}">
                                        <label for="html">Khách hàng</label><br>
                                    </div>
                                    <br>
                                    
                                    
                                    
                                </div><br><br>
                                <button class="btn btn-primary" th:formaction="@{/admin_nguoidung/add}"><i class="bi bi-save2"></i> Thêm</button>
                                <button class="btn btn-success" th:formaction="@{/admin_nguoidung/update}"><i class="bi bi-card-list"></i>
                                    Sửa</button>
                                <button class="btn btn-danger" th:formaction="@{/admin_nguoidung/remove/__${u.mand}__}"><i class="bi bi-trash"></i> Xóa</button>
                                <button class="btn btn-info" th:formaction="@{/admin_nguoidung/clear}"><i class="bi bi-arrow-clockwise"></i> Làm
                                    mới</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row article " style="display: flex; justify-content: center;">
                <div class="col-md-11 mt-5"
                    style="background-color: white; box-shadow: 10px 10px 25px grey; padding: 0;">
                    <div class="card">
                        <div class="card-header"
                            style="font-weight: bolder; font-size: larger; color: rgb(25, 31, 32);">
                            Bảng Danh Sách
                        </div>
                        <div class="card-body">
                            <table class="table text-center table-hover table-size fs-17">

                                <thead>
                                    <tr style="font-size: 20px;">
                                        <th>Mã Người Dùng</th>
                                        <th>Ảnh</th>
                                        <th>Họ và tên</th>
                                        <th>Email</th>
                                        <th>Số Điện Thoại</th>
                                        <th>Vai trò</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="user : ${userList}">
                                        <td th:text="${user.mand}"></td>
                                      	<td><img th:src="@{'/images/userImages/'+${user.hinh}}"
                                                style="width: 100px; height: fit-content;" alt="hinhanh"></td>
                                      	<td th:text="${user.hoten}"></td>
                                      	<td th:text="${user.email}"></td>
                                      	<td th:text="${user.sdt}"></td>
                                      	<div th:if="${user.vaitro}">
										     <td>Quản lý</td>
										</div>
										<div th:unless="${user.vaitro}">
										     <td>Khách hàng</td>
										</div>
                                        <td>
                                            <a th:href="@{/admin_nguoidung/edit/__${user.mand}__}" type="button" class="btn btn-success"><i
                                                    class="bi bi-card-list"></i>
                                                Sửa</a>
                                            <a th:href="@{/admin_nguoidung/remove/__${user.mand}__}" type="button" class="btn btn-danger"><i class="bi bi-trash"></i>
                                                Xóa</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                         <nav aria-label="Page navigation example">
					      <ul class="pagination">
					        <li class="page-item" th:if="${currIndex}>0" ><a class="page-link" th:href="@{/pageNguoiDung?p=__${currIndex-1}__}" href="#">Previous</a></li>
					        <tr th:each="i: ${#numbers.sequence(0, numberOfPages - 1)}">
					          <li class="page-item"><a th:style="${'background-color:' + (i==currIndex?'lightgrey':'white')}" th:href="@{/pageNguoiDung?p=__${i}__}" class="page-link" href="#" th:text="${i+1}"></a></li>
					        </tr>
					        <li class="page-item" th:if="(${currIndex}>-1 and (${currIndex})<${numberOfPages-1})"><a class="page-link" th:href="@{/pageNguoiDung?p=__${currIndex+1}__}" href="#">Next</a></li>
					      </ul>
					    </nav>
                        </div>
                        <div class="card-footer text-muted">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- main content end  -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.0.2/dist/chart.min.js"></script>
</body>

</html>