<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" />
    <link rel="stylesheet" th:href="@{css/admin_css.css}" />
    <link th:href="@{/css/mycss.css}" rel="stylesheet" />
    <link th:href="@{/font/themify-icons/themify-icons.css}" rel="stylesheet" />
    <title>CONVERSE - Quản Lý Người Dùng</title>
    <style type="text/css">
    	.gg-check-o {
		    box-sizing: border-box;
		    position: relative;
		    display: block;
		    transform: scale(var(--ggs,1));
		    width: 22px;
		    height: 22px;
		    border: 2px solid;
		    border-radius: 100px;
	        margin-left: 45%;
	        color: blue;
		}
		.gg-check-o::after {
		    content: "";
		    display: block;
		    box-sizing: border-box;
		    position: absolute;
		    left: 3px;
		    top: -1px;
		    width: 6px;
		    height: 10px;
		    border-color: currentColor;
		    border-width: 0 2px 2px 0;
		    border-style: solid;
		    transform-origin: bottom left;
		    transform: rotate(45deg)
		}
		.gg-remove {
		    box-sizing: border-box;
		    position: relative;
		    display: block;
		    transform: scale(var(--ggs,1));
		    width: 22px;
		    height: 22px;
		    border: 2px solid;
		    border-radius: 22px;
		    margin-left: 45%;
		    color: red;
		}
		.gg-remove::before {
		    content: "";
		    display: block;
		    box-sizing: border-box;
		    position: absolute;
		    width: 10px;
		    height: 2px;
		    background: currentColor;
		    border-radius: 5px;
		    top: 8px;
		    left: 4px
		}
		#image-preview{
		    width: 150px;
    		height: fit-content;
		}
		tr{
			vertical-align: middle;
		}
    </style>
</head>

<body style="background-color: rgb(238, 238, 238);">
    <!-- top navigation bar -->
    <div th:replace="~{/layout/admin_menu :: admin_menu}"></div>
    <!-- top navigation bar -->
    

    <!-- main content start  -->
    <main id="#main-order">
        <div class="container-fluid">
            <div class="row" style="background-color: white; box-shadow: 10px 10px 25px grey; margin-top: 4%; ">
                <div class="col-md-7">
                    <h4 style="padding: 2rem 0;">Quản Lý Người Dùng</h4>
                    <div th:if="${message}">
                    	<h5 class="text-danger text-center" th:text="${message}"></h5>
                    </div>
                </div>
                <div class="col-md-5">
                    <form class="d-flex" style="padding-top: 4%;" method="post">
                        <input class="form-control me-2" type="search" placeholder="Tên người dùng" aria-label="Search"
                            style="width: 66%;" name="nameSearch">
                        <button class="btn btn-primary" type="submit" th:formaction="@{/admin/admin_nguoidung/searchByName}">Tìm kiếm</button>
                    </form>
                </div>
            </div>
            <div class="row article " style="display: flex; justify-content: center;">
                <div class="col-md-11 mt-5"
                    style="background-color: white; box-shadow: 10px 10px 25px grey;padding: 0; ">
                    <div class="card">
                        <div class="card-header"
                            style="font-weight: bolder; font-size: larger; color: rgb(25, 31, 32);">
                            Form Người Dùng
                        </div>
                        <div class="card-body">
                            <form th:object="${u}" action="/admin/admin_nguoidung/add" method="POST" enctype="multipart/form-data">
                                <div class="row">
                                    <div class="mb-3 col-md-6">
                                        <label for="exampleFormControlInput1" class="form-label">Mã người dùng</label>
                                        <input type="number" class="form-control" id="exampleFormControlInput1"
                                            placeholder="" th:field="*{mand}" readonly="true" >
                                    </div>
                                    <div class="mb-3 col-md-6">
                                        <label for="exampleFormControlInput1" class="form-label">Họ và tên</label>
                                        <input type="text" class="form-control" id="exampleFormControlInput1"
                                            placeholder="" th:field="*{hoten}">
                                    </div>
                                    <div class="mb-3 col-md-6">
                                        <label for="exampleFormControlInputEmail" class="form-label">Email</label>
                                        <input type="email" class="form-control" id="exampleFormControlInput1"
                                            placeholder="" th:field="*{email}">
                                    </div>
                                    <div class="mb-3 col-md-6">
                                        <label for="exampleFormControlInput1" class="form-label">Số Điện Thoại</label>
                                        <input type="number" class="form-control" id="exampleFormControlInput1"
                                            placeholder="" th:field="*{sdt}">
                                    </div>
                                    <div class="mb-3 col-md-6">
                                        <label for="exampleFormControlInput1" class="form-label">Địa Chỉ</label>
                                        <input type="text" class="form-control" id="exampleFormControlInput1"
                                            placeholder="" th:field="*{diachi}">
                                    </div>
                                    <div class="mb-3 col-md-6">
                                        <label for="exampleFormControlInput1" class="form-label">Mật khẩu</label>
                                        <input type="text" class="form-control" id="exampleFormControlInput1"
                                            placeholder="" th:field="*{matkhau}">
                                    </div>

                                    <div class="mb-3 col-md-6">
                                        <label for="anh" class="form-label">Hình ảnh</label> <br>
<!-- Nếu đối tượng user không null và có đường dẫn hình ảnh -->

<img th:if="${u.hinh != null }" th:src="@{'/images/userImages/'+${u.hinh}}"  alt="User Image" id="image-preview" />

<!-- Nếu không có đường dẫn hình ảnh hoặc đối tượng user là null -->
<img th:unless="${u.hinh != null }" src="/images/userImages/150.png" alt="Default Image"  id="image-preview"/>

                                        <input type="file" class="form-control" id="anh" placeholder=""  name="file" accept=".jpg, .jpeg, .png, .gif" onchange="previewImage(event)">
                                    </div>
									<div class="mb-3 col-md-6">
                                        <p>Vai trò</p>
                                        <input type="radio" id="admin" name="role" th:checked="${vaitro == null || vaitro == false}" value="true" th:field="*{vaitro}">
                                        <label for="html">Quản lý</label><br>
                                        <input type="radio" id="customer" name="role" th:checked="${vaitro == true}" value="false" th:field="*{vaitro}">
                                        <label for="html">Khách hàng</label><br>
                                    </div>
                                    <br>
                                    
                                    
                                    
                                </div><br><br>
                                <button class="btn btn-primary"><i class="bi bi-save2"></i> Thêm</button>
                                <button class="btn btn-success" th:formaction="@{/admin/admin_nguoidung/update}"><i class="bi bi-card-list"></i>
                                    Sửa</button>
                                <button class="btn btn-danger" th:formaction="@{/admin/admin_nguoidung/remove/__${u.mand}__}"><i class="bi bi-trash"></i> Xóa</button>
                                <button class="btn btn-info" th:formaction="@{/admin/admin_nguoidung/clear}"><i class="bi bi-arrow-clockwise"></i> Làm
                                    mới</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row article " style="display: flex; justify-content: center;">
                <div class="col-md-11 mt-5"
                    style="background-color: white; box-shadow: 10px 10px 25px grey; padding: 0;">
                    <div class="card">
                        <div class="card-header"
                            style="font-weight: bolder; font-size: larger; color: rgb(25, 31, 32);">
                            Bảng Danh Sách
                        </div>
                        <div class="card-body">
                            <table class="table text-center table-hover table-size fs-17">

                                <thead>
                                    <tr style="font-size: 20px;">
                                        <th>Mã Người Dùng</th>
                                        <th>Ảnh</th>
                                        <th>Họ và tên</th>
                                        <th>Email</th>
                                        <th>Số Điện Thoại</th>
                                        <th>Vai trò</th>
                                        <th>Trạng thái</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="user : ${userList}">
                                        <td th:text="${user.mand}"></td>
                                      	<td><img th:src="@{'/images/userImages/'+${user.hinh}}"
                                                style="width: 100px; height: fit-content;" alt="hinhanh"></td>
                                      	<td th:text="${user.hoten}"></td>
                                      	<td th:text="${user.email}"></td>
                                      	<td th:text="${user.sdt}"></td>
                                      	
                                      	<div th:if="${user.vaitro}">
										     <td>Quản lý</td>
										</div>
										<div th:unless="${user.vaitro}">
										     <td>Khách hàng</td>
										</div>
										
										<div th:if="${user.trangthai}">
										     <td><i class="gg-remove"></i></td>
										     <td><a class="btn btn-info" th:href="@{/admin/admin_nguoidung/restore/__${user.mand}__}"><i class="bi bi-arrow-clockwise"></i> Khôi phục
                                   	 				</a></td>
										</div>
										<div th:unless="${user.trangthai}">
										     <td><i class="gg-check-o"></i></td>
										     <td>
	                                            <a th:href="@{/admin/admin_nguoidung/edit/__${user.mand}__}" type="button" class="btn btn-success"><i
	                                                    class="bi bi-card-list"></i>
	                                                Sửa</a>
	                                            <a th:href="@{/admin/admin_nguoidung/remove/__${user.mand}__}" type="button" class="btn btn-danger"><i class="bi bi-trash"></i>
	                                                Xóa</a>
	                                        </td>
										</div>
										
										
                                        
                                    </tr>
                                </tbody>
                            </table>
                         <nav aria-label="Page navigation example">
					      <ul class="pagination">
					        <li class="page-item" th:if="${currIndex}>0" ><a class="page-link" th:href="@{/pageNguoiDung?p=__${currIndex-1}__}" href="#">Previous</a></li>
					        <tr th:each="i: ${#numbers.sequence(0, numberOfPages - 1)}">
					          <li class="page-item"><a th:style="${'background-color:' + (i==currIndex?'lightgrey':'white')}" th:href="@{/pageNguoiDung?p=__${i}__}" class="page-link" href="#" th:text="${i+1}"></a></li>
					        </tr>
					        <li class="page-item" th:if="(${currIndex}>-1 and (${currIndex})<${numberOfPages-1})"><a class="page-link" th:href="@{/pageNguoiDung?p=__${currIndex+1}__}" href="#">Next</a></li>
					      </ul>
					    </nav>
                        </div>
                        <div class="card-footer text-muted">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- main content end  -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.0.2/dist/chart.min.js"></script>
    <script type="text/javascript">
	    function previewImage(event) {
	    	  var input = event.target;
	    	  if (input.files && input.files[0]) {
	    	    var reader = new FileReader();
	    	    reader.onload = function(e) {
	    	      var imgElement = document.getElementById('image-preview');
	    	      imgElement.setAttribute('src', e.target.result);
	    	    }
	    	    reader.readAsDataURL(input.files[0]);
	    	  }
	    	}
    </script>
</body>

</html>