<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" />
    <link rel="stylesheet" th:href="@{css/admin_css.css}" />
    <link th:href="@{/css/mycss.css}" rel="stylesheet" />
    <link th:href="@{/font/themify-icons/themify-icons.css}" rel="stylesheet" />
    <title>CONVERSE - ADMIN SẢN PHẨM</title>
</head>

<body style="background-color: rgb(238, 238, 238);">
    <!-- Admin_Menu bắt đầu-->
   <div th:replace = "~{/layout/admin_menu :: admin_menu}"></div>
	<!-- Admin_Menu kết thúc-->

    <!-- main content start  -->
    <main id="#main-order">
        <div class="container-fluid">
            <div class="row" style="background-color: white; box-shadow: 10px 10px 25px grey; ">
                <div class="col-md-12">
                    <h4 style="padding: 2rem 0;">Quản lý sản phẩm - Sản phẩm</h4>
                </div>
            </div>
            <div class="row article " style="display: flex; justify-content: center;">
                <div class="col-md-11 mt-5"
                    style="background-color: white; box-shadow: 10px 10px 25px grey;padding: 0; ">
                    <div class="card">
                        <div class="card-header"
                            style="font-weight: bolder; font-size: 25px; color: rgb(25, 31, 32);">
                            Form Sản Phẩm
                        </div>
                        <div class="card-body">
                            <form method="post" th:object="${sanpham}">
                                <div class="row">
                                    <div class="mb-3 col-md-12">
                                        <label for="masanpham" class="form-label fs-17">Mã sản phẩm:</label>
                                        <input type="number" class="form-control" id="masanpham" th:field="*{masp}" readonly="true">
                                        <div class="alert alert-danger" th:if="${#fields.hasErrors('masp')}" th:errors="*{masp}"></div>
                                    </div>
                                    <div class="mb-3 col-md-12">
                                        <label for="tensanphamm" class="form-label fs-17">Tên sản phẩm:</label>
                                        <input type="text" class="form-control" id="tensanphamm" th:field="*{tensp}">
                                        <div class="alert alert-danger" th:if="${#fields.hasErrors('tensp')}" th:errors="*{tensp}"></div>
                                    </div>
                                    <div class="row">
                                        <div class="mb-3 col-md-4">
                                            <label for="anhsanpham1" class="form-label fs-17">Ảnh 1:</label> <br>
                                            <img th:src="@{'/imageSP/'+${sanpham.hinhanh1}}" style="width: 200px; height: fit-content;"
                                                alt="hinhanh">
                                            <input type="file" class="form-control" id="anhsanpham1" th:field="*{hinhanh1}">
                                            <div class="alert alert-danger" th:if="${#fields.hasErrors('hinhanh1')}" th:errors="*{hinhanh1}"></div>
                                        </div>
                                        <div class="mb-3 col-md-4">
                                            <label for="anhsanpham2" class="form-label fs-17">Ảnh 2:</label> <br>
                                            <img th:src="@{'/imageSP/'+${sanpham.hinhanh2}}" style="width: 200px; height: fit-content;"
                                                alt="hinhanh">
                                            <input type="file" class="form-control" id="anhsanpham2" th:field="*{hinhanh2}">
                                            <div class="alert alert-danger" th:if="${#fields.hasErrors('hinhanh2')}" th:errors="*{hinhanh2}"></div>
                                        </div>
                                        <div class="mb-3 col-md-4">
                                            <label for="anhsanpham3" class="form-label fs-17">Ảnh 3:</label> <br>
                                            <img th:src="@{'/imageSP/'+${sanpham.hinhanh3}}" style="width: 200px; height: fit-content;"
                                                alt="hinhanh">
                                            <input type="file" class="form-control" id="anhsanpham3" th:field="*{hinhanh3}">
                                            <div class="alert alert-danger" th:if="${#fields.hasErrors('hinhanh3')}" th:errors="*{hinhanh3}"></div>
                                        </div>
                                        <label class="form-label fs-17">Loại giày:</label> <br>
							                <div class="d-inline-flex">
							                    <div class="form-check mx-4">
							                        <input type="radio" class="form-check-input" id="radio1"  value="true" th:field="*{loai}">
							                        <label class="form-check-label fs-17" for="radio1">Cao</label>
							                    </div>
							                    <div class="form-check ">
							                        <input type="radio" class="form-check-input" id="radio2"  value="false" th:field="*{loai}"> 
							                        <label class="form-check-label fs-17" for="radio2">Thấp</label>
							                    </div>
							                    
							                </div>
							                <div class="alert alert-danger" th:if="${#fields.hasErrors('loai')}" th:errors="*{loai}"></div>
                                        <div class="mb-3 col-md-12">
                                            <label for="giassanpham" class="form-label fs-17">Giá:</label>
                                            <input type="number" class="form-control" id="giassanpham" th:field="*{gia}">
                                            <div class="alert alert-danger" th:if="${#fields.hasErrors('gia')}" th:errors="*{gia}"></div>
                                        </div>
                                        <div class="mb-3 col-md-12"> 
                                            <label for="motaaa" class="form-label fs-17">Mô tả:</label>
                                            <input type="text" class="form-control" id="motaaa" th:field="*{mota}">
                      						<div class="alert alert-danger" th:if="${#fields.hasErrors('mota')}" th:errors="*{mota}"></div>
                                        </div>
										
                                        <div class="mb-3 col-md-4">
                                            <label class="form-label fs-17">Danh mục:</label>
                                            <select class="form-select" th:field="*{danhmuc.madm}">
                                                <option value="">Chọn danh mục</option>
                                                <option th:each="sp : ${danhmucs}" th:value="${sp.madm}" th:text="${sp.tendm}"></option>
                                            </select>
                                            <div class="alert alert-danger" th:if="${#fields.hasErrors('danhmuc.madm')}" th:errors="*{danhmuc.madm}"></div>
                                        </div>
                                        <div class="mb-3 col-md-4">
                                            <label class="form-label fs-17">Nhà cung cấp :</label>
                                            <select class="form-select" th:field="*{nhacungcap.mancc}">
                                                <option value="">Chọn nhà cung cấp</option>
                                                <option th:each="sp : ${nhacungcaps}" th:value="${sp.mancc}" th:text="${sp.tenncc}" ></option>
                                            </select>
                                            <div class="alert alert-danger" th:if="${#fields.hasErrors('nhacungcap.mancc')}" th:errors="*{nhacungcap.mancc}"></div>
                                        </div>
                                        <div class="mb-3 col-md-4">
                                            <label class="form-label fs-17">Giảm giá:</label>
                                            <select class="form-select" th:field="*{giamgia.magiamgia}">
                                                <option value="">Chọn giá trị giảm giá (%)</option>
                                                <option th:each="sp : ${giamgias}" th:value="${sp.magiamgia}" th:text="${sp.giamgia}+ '%'"></option>
                                            </select>
                                            <div class="alert alert-danger" th:if="${#fields.hasErrors('giamgia.magiamgia')}" th:errors="*{giamgia.magiamgia}"></div>
                                        </div>
                                        <label class="form-label fs-17">Trạng thái:</label> <br>
							                <div class="d-inline-flex">
							                    <div class="form-check mx-4">
							                        <input type="radio" class="form-check-input" id="radio11"  value="true" th:field="*{trangthai}">
							                        <label class="form-check-label fs-17" for="radio11">Hoạt động</label>
							                    </div>
							                    <div class="form-check ">
							                        <input type="radio" class="form-check-input" id="radio22"  value="false" th:field="*{trangthai}"> 
							                        <label class="form-check-label fs-17" for="radio22">Không hoạt động</label>
							                    </div>
							                    
							                </div>
							                <div class="alert alert-danger" th:if="${#fields.hasErrors('trangthai')}" th:errors="*{trangthai}"></div>
                                    </div>
                                </div>

                                <button type="submit" th:formaction="@{/admin/admin_sanpham/create}" class="btn btn-primary"><i class="bi bi-save2"></i> Thêm</button>
                                <button type="submit" th:formaction="@{/admin/admin_sanpham/update}" class="btn btn-success"><i class="bi bi-card-list"></i>Sửa</button>
                                <button type="submit" th:formaction="@{/admin/admin_sanpham/delete/__${sanpham.masp}__}" class="btn btn-danger"><i class="bi bi-trash"></i> Xóa</button>
                                <button type="submit" th:formaction="@{/admin/admin_sanpham/clear}" class="btn btn-info"><i class="bi bi-arrow-clockwise"></i> Làm mới</button>

                            </form>
                        </div>

                    </div>
                </div>
            </div>

            <div class="row article " style="display: flex; justify-content: center;">
                <div class="col-md-11 mt-5"
                    style="background-color: white; box-shadow: 10px 10px 25px grey; padding: 0;">
                    <div class="card">
                        <div class="card-header"
                            style="font-weight: bolder; font-size: larger; color: rgb(25, 31, 32);">
                            Bảng Danh Sách
<!--                             tìm kiếm theo tên bắt đầu  -->
								<span class="p-3">
                            <a href="#" class="icon  fs-4" style="color: black;" data-bs-toggle="offcanvas"
                                data-bs-target="#demo">
                                <i class="ti-search"></i>
                                
                            </a>
                        </span>
                        <div class="offcanvas offcanvas-bottom" id="demo">
                            <div class="offcanvas-header">
                                <h1 class="offcanvas-title" style="margin-left: 43%;">Tìm kiếm</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
                            </div>
                            <div class="offcanvas-body">
                            <form method="post">
                                <div class="container input-group mb-3">
                                
                                    <input type="text" class="form-control"  name="keywords" th:value="${keywords}" placeholder="Bạn muốn tìm gì?">
                                    <button class="btn btn-success" th:formaction="@{/admin/admin_sanpham/timkiem}" type="submit">OK</button>
                               
                                </div>
                                </form>
                            </div>
                        </div>
<!-- 									tìm kiếm theo tên kết thúc -->

<!-- 						Lọc theo giá sản phẩm bắt đầu  -->
							<span class="p-3">
                            <a href="#" class="icon fs-4" style="color: black;" data-bs-toggle="offcanvas"
                                data-bs-target="#demo1">
                                <i class="ti-bar-chart-alt"></i>
                            </a>
                        </span>
                        <div class="offcanvas offcanvas-bottom" style="height: 42vh;" id="demo1">
                            <div class="offcanvas-header">
                                <h1 class="offcanvas-title" style="margin-left: 30%;">Tìm kiếm sản phẩm theo khoảng giá</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
                            </div>
                            <div class="offcanvas-body">
                            <form method="post">
                               <div class="container mb-4">
                               
                                
                                    <input type="number" class="form-control" name="min" th:value="${min}" placeholder="Nhập giá thấp nhất"> <br>
                                    <input type="number" class="form-control" name="max" th:value="${max}" placeholder="Nhập giá cao nhất"><br>
                                    <button class="btn btn-success mb-4" th:formaction="@{/admin/admin_sanpham/timkiemgia}" type="submit">OK</button>
                               </div>
                                
                                </form>
                            </div>
                        </div>
<!--                         lọc theo giá sản phẩm kết thúc -->
                        </div>
                        
                        <div class="card-body">
                            <table class="table text-center table-hover table-size fs-17">

                                <thead>
                                    <tr style="font-size: 15px;">
                                    	<th><a th:href="@{/admin/admin_sanpham?field=masp}">MÃ SẢN PHẨM</a></th>
                                        <th><a th:href="@{/admin/admin_sanpham?field=tensp}">TÊN SẢN PHẨM</a></th>
                                        <th><a th:href="@{/admin/admin_sanpham?field=hinhanh1}">ẢNH 1</a></th>
                                        <th><a th:href="@{/admin/admin_sanpham?field=hinhanh2}">ẢNH 2</a></th>
                                        <th><a th:href="@{/admin/admin_sanpham?field=hinhanh3}">ẢNH 3</a></th>
                                        <th><a th:href="@{/admin/admin_sanpham?field=loai}">LOẠI</a></th>
                                        <th><a th:href="@{/admin/admin_sanpham?field=gia}">GIÁ GỐC</a></th>
                                        <th><a th:href="@{/admin/admin_sanpham?field=giamgia.giamgia}">GIẢM GIÁ</a></th>
                                        <th><a th:href="@{/admin/admin_sanpham?field=giamgias}">GIÁ GIẢM CÒN</a></th>
<!--                                         <th class="w-20" style="text-align: center;"><a th:href="@{/admin/admin_sanpham?field=mota}">MÔ TẢ</a></th> -->
                                        <th><a th:href="@{/admin/admin_sanpham?field=danhmuc.tendm}">DANH MỤC</a></th>
                                        <th><a th:href="@{/admin/admin_sanpham?field=nhacungcap.tenncc}">NHÀ CUNG CẤP</a></th>
                                        
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="sanpham: ${sanphams}">
                                        <td th:text="${sanpham.masp}"></td>
                                        <td th:text="${sanpham.tensp}"></td>
                                        <td><img th:src="@{'/imageSP/'+${sanpham.hinhanh1}}" style="width: 100px; height: fit-content;"
                                                alt="hinhanh"></td>
                                        <td><img th:src="@{'/imageSP/'+${sanpham.hinhanh2}}" style="width: 100px; height: fit-content;"
                                                alt="hinhanh"></td>
                                        <td><img th:src="@{'/imageSP/'+${sanpham.hinhanh3}}" style="width: 100px; height: fit-content;"
                                                alt="hinhanh"></td>
<!--                                                 <td th:text="${sanpham.loai}"></td> -->
                                                <div th:if="${sanpham.loai}">
										     <td>Cao</td>
										</div>
										<div th:unless="${sanpham.loai}">
										     <td>Thấp</td>
										</div>
                                        <td th:text="${#numbers.formatDecimal(sanpham.gia, 0, 'COMMA', 0 , 'POINT')}  + ' vnđ'"></td>
                                        <td th:text="${sanpham.giamgia.giamgia} + ' %'"></td>
                                        <td th:text="${#numbers.formatDecimal(sanpham.giamgiasp, 0, 'COMMA', 0 , 'POINT')}  + ' vnđ'"></td>
<!--                                         <td class="w-20" th:text="${sanpham.mota}"></td> -->
                                        <td th:text="${sanpham.danhmuc.tendm}"></td>
                                        <td th:text="${sanpham.nhacungcap.tenncc}"></td>
                                        
                                        <td>
                                            <a type="submit" th:href="@{/admin/admin_sanpham/edit/__${sanpham.masp}__}" class="btn btn-warning">Chọn</a>
                                            <a type="submit" th:href="@{/admin/admin_sanpham/delete/__${sanpham.masp}__}" class="btn btn-danger">Xóa</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="d-flex justify-content-between">
								<nav aria-label="Page navigation example">
									<ul class="pagination">
										<li class="page-item" th:if="${currIndex}>0"><a
											class="page-link"
											th:href="@{/admin/admin_sanpham/page?p=__${currIndex-1}__}" href="#">Previous</a></li>
										<tr th:each="i: ${#numbers.sequence(0, numberOfPages - 1)}">
											<li class="page-item"><a
												th:style="${'background-color:' + (i==currIndex?'lightgrey':'white')}"
												th:href="@{/admin/admin_sanpham/page?p=__${i}__}" class="page-link"
												href="#" th:text="${i+1}"></a></li>
										</tr>
										<li class="page-item"
											th:if="(${currIndex}>-1 and (${currIndex})<${numberOfPages-1})"><a
											class="page-link"
											th:href="@{/admin/admin_sanpham/page?p=__${currIndex+1}__}" href="#">Next</a></li>
									</ul>
								</nav>
								<div class="d-flex justify-content-around">
									<nav aria-label="Page navigation example">
									<ul class="pagination">
										<li class="page-item"><a class="page-link" th:href="@{/admin/admin_sanpham/page?p=0}">First</a></li>
										<li class="page-item"><a
										class="page-link"
										th:href="@{/admin/admin_sanpham/page?p=__${numberOfPages-1}__}">Last</a></li>
									</ul>
								</nav>
								</div>
							</div>
                        </div>
                        <div class="card-footer text-muted">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- main content end  -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.0.2/dist/chart.min.js"></script>
</body>

</html>