<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div th:fragment="admin_menu">
<!-- top navigation bar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" style="margin-bottom: 100px">

        <div class="container-fluid">
            <button class="btn btn-outline-secondary" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#sidebar">
                <span class="navbar-toggler-icon" data-bs-target="#sidebar"></span>
            </button>
            <!-- <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebar"
                aria-controls="offcanvasExample">
                <span class="navbar-toggler-icon" data-bs-target="#sidebar"></span>
            </button> -->
            <a class="navbar-brand me-auto ms-lg-0 ms-3 text-uppercase fw-bold" th:href="@{/admin/admin_nguoidung}"><img src="/images/logo.png"
                    alt="logo" style="margin-left: 25px;"></a>
        </div>
    </nav>
    <!-- top navigation bar -->
    <!-- MENU đứng bắt đầu -->
    <div class="offcanvas offcanvas-start sidebar-nav bg-dark" tabindex="-1" id="sidebar" style="font-size: 16px;">
        <div class="offcanvas-body p-0">
            <nav class="navbar-dark">
                <ul class="navbar-nav">
                    <a class="navbar-brand me-auto ms-lg-0 ms-3 text-uppercase fw-bold" href="#"><img class="img-logo"
                            src="/images/logo.png" alt="logo"></a>
                    <li class="my-4">
                        <hr class="dropdown-divider bg-light" />
                    </li>
                    <li>
                        <div class="text-muted small fw-bold text-uppercase px-3 mb-3">
                            Quản lý
                        </div>
                    </li>
                    <!-- Quản lý người dùng bắt đầu  -->
                    <li>
                        <a class="nav-link px-3 sidebar-link" data-bs-toggle="collapse" href="#nguoidung">
                            <span class="me-2"><i class="bi bi-person"></i></span>
                            <span>Quản lý người dùng</span>
                            <span class="ms-auto">
                                <span class="right-icon">
                                    <i class="bi bi-chevron-down"></i>
                                </span>
                            </span>
                        </a>
                        <div class="collapse" id="nguoidung">
                            <ul class="navbar-nav ps-3">
                                <li>
                                    <a th:href="@{/admin/admin_nguoidung}" class="nav-link px-3">
                                        <span class="me-2"><i class="bi bi-person-circle"></i></span>
                                        <span>Người dùng</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <!-- Quản lý người dùng kết thúc  -->

                    <!-- Quản lý nhà cung cấp bắt đầu  -->
                    <li>
                        <a th:href="@{/admin/admin_nhacungcap}" class="nav-link px-3">
                            <span class="me-2"><i class="bi bi-book-fill"></i></span>
                            <span>Quản lý nhà cung cấp</span>
                        </a>
                    </li>

                    <!-- Quản lý nhà cung cấp kết thúc  -->

                    <!-- Quản lý khuyến mãi bắt đầu  -->
                    <li>
                        <a class="nav-link px-3 sidebar-link" data-bs-toggle="collapse" href="#khuyenmai">
                            <span class="me-2"><i class="bi bi-window"></i></span>
                            <span>Quản lý khuyến mãi</span>
                            <span class="ms-auto">
                                <span class="right-icon">
                                    <i class="bi bi-chevron-down"></i>
                                </span>
                            </span>
                        </a>
                        <div class="collapse" id="khuyenmai">
                            <ul class="navbar-nav ps-3">
                                <li>
                                    <a th:href="@{/admin/admin_khuyenmai}" class="nav-link px-3">
                                        <span class="me-2"><i class="bi bi-window-sidebar"></i></span>
                                        <span>Khuyến mãi</span>
                                    </a>
                                </li>
                                
                            </ul>
                        </div>
                    </li>

                    <!-- Quản lý khuyến mãi kết thúc  -->

                    <!-- Quản lý sản phẩm bắt đầu  -->
                    <li>
                        <a class="nav-link px-3 sidebar-link" data-bs-toggle="collapse" href="#sanpham">
                            <span class="me-2"><i class="bi bi-menu-button-wide-fill"></i></span>
                            <span>Quản lý sản phẩm</span>
                            <span class="ms-auto">
                                <span class="right-icon">
                                    <i class="bi bi-chevron-down"></i>
                                </span>
                            </span>
                        </a>
                        <div class="collapse" id="sanpham">
                            <ul class="navbar-nav ps-3">
                                <li>
                                    <a th:href="@{/admin/admin_danhmucsanpham}" class="nav-link px-3">
                                        <span class="me-2"><i class="bi bi-menu-button-fill"></i></span>
                                        <span>Danh mục sản phẩm</span>
                                    </a>
                                </li>
                                <li>
                                    <a th:href="@{/admin/admin_sanpham}" class="nav-link px-3">
                                        <span class="me-2"><i class="bi bi-menu-app-fill"></i></span>
                                        <span>Sản phẩm</span>
                                    </a>
                                </li>
                                <li>
                                    <a th:href="@{/admin/admin_size}" class="nav-link px-3">
                                        <span class="me-2"><i class="bi bi-menu-app"></i></span>
                                        <span>Size</span>
                                    </a>
                                </li>
                                <li>
                                    <a th:href="@{/admin/admin_sanphamsize}" class="nav-link px-3">
                                        <span class="me-2"><i class="bi bi-menu-app"></i></span>
                                        <span>Sản phẩm Size</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <!-- Quản lý sản phẩm kết thúc  -->

                    <!-- Quản lý đơn hàng bắt đầu  -->
                    <li>
                        <a class="nav-link px-3 sidebar-link" data-bs-toggle="collapse" href="#donhang">
                            <span class="me-2"><i class="bi bi-bag-fill"></i></span>
                            <span>Quản lý đơn hàng</span>
                            <span class="ms-auto">
                                <span class="right-icon">
                                    <i class="bi bi-chevron-down"></i>
                                </span>
                            </span>
                        </a>
                        <div class="collapse" id="donhang">
                            <ul class="navbar-nav ps-3">
                                <li>
                                    <a th:href="@{/admin/admin_donhang}" class="nav-link px-3">
                                        <span class="me-2"><i class="bi bi-bag"></i></span>
                                        <span>Đơn hàng</span>
                                    </a>
                                </li>
                                <li>
                                    <a th:href="@{/admin/admin_donhangdaxacnhan}" class="nav-link px-3">
                                        <span class="me-2"><i class="bi bi-bag-check"></i></span>
                                        <span>Đơn hàng đã giao</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <!-- Quản lý đơn hàng kết thúc  -->
                    
                     <!-- Thống kê bắt đầu  -->
                    <li>
                        <a class="nav-link px-3 sidebar-link" data-bs-toggle="collapse" href="#thongke">
                            <span class="me-2"><i class="bi bi-reception-4"></i></span>
                            <span>Thống Kê</span>
                            <span class="ms-auto">
                                <span class="right-icon">
                                    <i class="bi bi-chevron-down"></i>
                                </span>
                            </span>
                        </a>
                        <div class="collapse" id="thongke">
                            <ul class="navbar-nav ps-3">
                                <li>
                                    <a th:href="@{/admin/admin_report}" class="nav-link px-3">
                                        <span class="me-2"><i class="bi bi-reception-2"></i></span>
                                        <span>Thống kê sản phẩm được yêu thích</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <!-- Thống kê kết thúc  -->

                    <li class="my-4">
                        <hr class="dropdown-divider bg-light" />
                    </li>
                    <!-- Quản lý tài khoản bắt đầu  -->
                    <li>
                        <div class="text-muted small fw-bold text-uppercase px-3 mb-3">
                            Tài khoản
                        </div>
                    </li>
                    <li>
                        <a class="nav-link px-3 sidebar-link" data-bs-toggle="collapse" href="#taikhoan">
                            <span class="me-2"><i class="bi bi-bag-fill"></i></span>
                            <span>Quản Lý</span>
                            <span class="ms-auto">
                                <span class="right-icon">
                                    <i class="bi bi-chevron-down"></i>
                                </span>
                            </span>
                        </a>
                        <div class="collapse" id="taikhoan">
                            <ul class="navbar-nav ps-3">
                                <li>
                                    <a th:href="@{/doimatkhau}" class="nav-link px-3">
                                        <span class="me-2"><i class="bi bi-bag"></i></span>
                                        <span>Đổi mật khẩu</span>
                                    </a>
                                </li>
                                <li>
                                    <a th:href="@{/admin/admin_thongtincanhan}" class="nav-link px-3">
                                        <span class="me-2"><i class="bi bi-bag-check"></i></span>
                                        <span>Thông tin cá nhân</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <!-- Quản lý tài khoản kết thúc  -->

                    <li class="my-4">
                        <hr class="dropdown-divider bg-light" />
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <!-- MENU đứng kết thúc -->
    </div>
</body>
</html>