<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div th:fragment="quantitycontrol(qtyValue,id,maxValue)" class="col-md-9 mb-4" >
	
		<nav >
			<ul  class="pagination">
				<li class="page-item">
					<a class="page-link minusButton" name="masps"  href="" th:pid=${id}>
						<b>-</b>
					</a>
				</li>
				<li class="page-item">
					<input type="number" name ="soluong" th:value="${qtyValue}" class="form-control text-center"
					onkeydown="return false" th:id="'quantity'+${id}" th:attr="max=${maxValue}" style="width:5em">
				</li>
				<li class="page-item">
					<a class="page-link plusButton" name="masps" href="" th:pid=${id}>
						<b>+</b>
					</a>
				</li>
			</ul>
		</nav>
	</div>
</body>
</html>