@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");
body,
button {
  font-family: "Inter", sans-serif;
}

.w-20{
  width: 20%;
  text-align: justify;
}
:root {
  --offcanvas-width: 270px;
  --topNavbarHeight: 100px;
}
main{
  margin-top: 5em;
}
.sidebar-nav {
  width: var(--offcanvas-width);
}
.sidebar-link {
  display: flex;
  align-items: center;
}
.sidebar-link .right-icon {
  display: inline-flex;
}
.sidebar-link[aria-expanded="true"] .right-icon {
  transform: rotate(180deg);
}
.img-logo {
  margin-left: 44px;
  margin-top: 23px;
}
/* Main order start here */
  #main-order tbody, td, tfoot, th, thead, tr{
    height: 6rem;
    vertical-align: middle;
  }


