<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CONVERSE || THÔNG TIN CÁ NHÂN</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
        integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
        crossorigin="anonymous" />
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
        integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="./css/mycss.css">
    <link rel="stylesheet" href="./font/themify-icons/themify-icons.css">
</head>

<body>
    <!-- header start -->
    <div th:replace="~{/layout/user_menu::user_menu}"></div>
    <!-- header end -->
    <!-- main changeinfo start -->
    <div id="mainReceipt">
        <div class="container"  style="width: 40%;" >
            <div class="card">
                <div class="card-header" style="background-color: #2A76A0;" ><h1 style="padding: 4rem; font-weight: 800; color: white;">Converse Store</h1></div>
                <div class="card-body" style="text-align: center;">
                    <img th:src="@{./images/AddtoCartrafiki.png}" style="display: block;
                    margin-left: auto;
                    margin-right: auto;
                    width: 50%;; width: 50%;" alt="">
                    <h5 class="card-title mt-3 mb-3">Cảm Ơn <h5 style="color: #2A76A0" th:text="${name}"></h5> Vì Đã Mua Hàng!</h5>
                    <p class="card-text">Cảm ơn bạn vì đã mua hàng tại CONVERSE STORE. Hãy kiểm tra lại thông tin đơn hàng của của bạn.<br>
                        Mọi thắc xin vui lòng kiên liện 0923 002 009 để được tư vấn hổ trợ. Xin cám ơn!.
                    </p>
                    <table class="table table-striped text-center table-hover table-size fs-17">
                        <thead>
                            <tr style="font-size: 20px;">
                                <th class="left">Mã Đơn Hàng#</th>
                                <th class="right" th:text="${idOrder}">876456</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="orderdetail : ${orderdetails}">
                                <td class="left" th:text="${orderdetail.sanphamsize.sanpham.tensp}">Converse Renew Canvas</td>
                                <td class="right"th:text="${#numbers.formatDecimal(orderdetail.sanphamsize.sanpham.giamgiasp, 0, 'COMMA', 0 , 'POINT')}+' ₫'">1.990.000đ</td>
                                
                            </tr>
                        </tbody>
                        <thead>
                            <tr style="font-size: 20px;">
                                <th class="left">Tổng Tiền:</th>
                                <th class="right" th:text="${#numbers.formatDecimal(total, 0, 'COMMA', 0 , 'POINT')}+' ₫'">7.960.000đ</th>
                                
                            </tr>
                        </thead>
                    </table>
                    <div class="row" align="left">
                        <h3 style="font-weight: 900;" class="left" >Địa Chỉ Giao Hàng:</h3>
                            <h4 th:text="${receiver}">Nguyễn Văn Ánh</h4>
                            <h4 th:text="${phone}"> 0983898JQK</h4>
                        <p style="text-align: justify; font-size: 1.1rem; " th:text="${address}">
                            497 Hoàng Văn Thụ, Phường 4, Q. Tân Bình, TP.HCM.
                        </p>
                    </div>
                    <div class="back" style="text-align: center; padding: 10%; background-color: #2A76A0;">
                        <h3 style="color: white; font-weight: 800;">Quay Lại Trang Thông Tin</h3>              
                        <a th:href="@{/trangchu}" class="btn btn-success" style="width: 40%;height: 4rem; font-size: 20px; font-weight: bold; background-color: #2A76A0; color: white;">Quay Lại</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- main changeinfo end -->

    <!-- FOOTER start -->
    <div th:replace="~{/layout/footer::footer}"></div>
    <button type="button" class="btn btn-primary btn-floating btn-lg" id="btn-back-to-top">
        <i class="ti-angle-double-up"></i>
    </button>
    <!-- FOOTER end -->



    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- Danh mục sản phẩm bắt đầu -->
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
    
</body>

</html>