<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CONVERSE || SẢN PHẨM</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
        integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
        crossorigin="anonymous" />
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
        integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw=="
        crossorigin="anonymous" />
    <link th:href="@{/css/mycss.css}" rel="stylesheet" />
    <link th:href="@{/font/themify-icons/themify-icons.css}" rel="stylesheet" />

</head>

<body>
    <!-- header start -->
    <div id="header">
        <div class="menu">
            <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
                <div class="container-fluid">
                    <a class="navbar-brand" th:href="@{/trangchu}"><img src="/images/logo.png" alt="logo"></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="mynavbar">
                        <ul class="navbar-nav mx-auto">
                            <li class="nav-item"> 
                                <a class="nav-link nav-link-custom" th:href="@{/trangchu}">TRANG CHỦ</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link nav-link-custom" th:href="@{/sanpham}">SẢN PHẨM</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link nav-link-custom" th:href="@{/thongtin}">THÔNG TIN</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link nav-link-custom" th:href="@{/giohang}">GIỎ HÀNG</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link nav-link-custom dropdown-toggle" href="#" role="button"
                                    data-bs-toggle="dropdown">TÀI
                                    KHOẢN</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" th:href="@{/dangnhap}">ĐĂNG NHẬP</a></li>
                                    <li><a class="dropdown-item" th:href="@{/dangky}">ĐĂNG KÝ</a></li>
                                    <li><a class="dropdown-item" th:href="@{/doimatkhau}">ĐỔI MẬT KHẨU</a></li>
                                    <li><a class="dropdown-item" th:href="@{/quenmatkhau}">QUÊN MẬT KHẨU</a></li>
                                    <li><a class="dropdown-item" th:href="@{/thaydoithongtin}">THÔNG TIN CÁ NHÂN</a></li>
                                    <li><a class="dropdown-item" th:href="@{/donhang}">ĐƠN HÀNG</a></li>
                                    <li><a class="dropdown-item" th:href="@{/dangnhap}">ĐĂNG XUẤT</a></li>
                                </ul>
                            </li>
                        </ul>

                        <div class="p-3">
                            <a href="#" class="icon position-relative fs-4" data-bs-toggle="offcanvas"
                                data-bs-target="#demo">
                                <i class="ti-search"></i>
                            </a>
                        </div>
                        <div class="offcanvas offcanvas-bottom" id="demo">
                            <div class="offcanvas-header">
                                <h1 class="offcanvas-title" style="margin-left: 43%;">Tìm kiếm</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
                            </div>
                            <div class="offcanvas-body">
                                <div class="container input-group mb-3">
                                    <input type="text" class="form-control" placeholder="Bạn muốn tìm gì?">
                                    <button class="btn btn-success" type="submit">OK</button>
                                </div>
                            </div>
                        </div>
                        <div class="p-3">
                            <a th:href="@{/yeuthich}" class="icon position-relative fs-4">
                                <i class="ti-heart"></i>
                                <span
                                    class="small-icon position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                    0
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        <div class="menu-header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4 menu-item">
                        <h6>HÀNG CÓ SẴN CHÍNH HÃNG</h6>
                    </div>
                    <div class="col-md-4 menu-item">
                        <h6>ĐỔI TRẢ LINH HOẠT</h5>
                    </div>
                    <div class="col-md-4 menu-item">
                        <h6>SHIP HÀNG TOÀN QUỐC</h6>
                    </div>
                </div>
            </div>
        </div>

        <marquee class="marquee-test" width="100%" scrollamount="20" direction="left" height="auto"
            onmouseover="this.stop()" onmouseout="this.start()">
            Converse xin chào tất cả các bạn. Chào mừng các bạn đã đến với cửa hàng của chúng tôi. Chúng tôi luôn lấy uy
            tín đặt trên hàng đầu đối với khách hàng, hy vọng chúng tôi sẽ được phục vụ các bạn. Cám ơn!
        </marquee>
    </div>
    <!-- header end -->
    
    <div id="mainProduct">
        <div class="container-fluid">
            <div class="row mt-4">
                <div class="col-md-3">
                    <div class="danhmuc-sp">
                        <h5>DANH MỤC SẢN PHẨM</h5>
                        <ul th:each="sp : ${danhmucs}"  >
                            <li><a th:value="${sp.madm}" th:href="@{/sanpham/dm}" th:text="${sp.tendm}"></a></li>
                        </ul>
                    </div>
                    <div class="danhmuc-sp mt-5">
                        <h5>DÁNG GIÀY</h5>
                        <ul>
                            <li><a href="#">Cao</a></li>
                            <li><a href="#">Thấp</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="row">
                        <div th:each="sanpham: ${sanphams}" class="col-xl-3 col-lg-4 col-sm-6 col-12 mb-4">
                            <div class="card" style="width:100%">
                                <a th:href="@{/sanpham/chitietsp/__${sanpham.masp}__}"><img class="card-img-top" th:src="@{/imageSP/{img}(img=${sanpham.hinhanh1})}"
                                        alt="Card image" style="width:100%"></a>
                                <div class="card-body">
                                    <a th:href="@{/sanpham/chitietsp/__${sanpham.masp}__}">
                                        <h4 class="card-title text-center" th:text="${sanpham.tensp}"></h4>
                                        <div class="price-product">
                                            <h4 class="card-title"><span class="card-title-normal"  th:text="${sanpham.gia} + 'đ'"></span></h4>
                                            
                                        </div>
                                    </a>
                                    <div class="row d-flex justify-content-center">
                                        <a th:href="@{/giohang}" class="btn product-btn"><i class="ti-shopping-cart"></i> Giỏ
                                            hàng</a>
                                        <a th:href="@{/yeuthich}" class="btn product-btn"><i class="ti-heart"></i> Yêu thích</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                       
                       
                        
                        
                        
                       
                        
                    </div>
                    <div class="d-flex justify-content-between">
								<nav aria-label="Page navigation example">
									<ul class="pagination">
										<li class="page-item" th:if="${currIndex}>0"><a
											class="page-link"
											th:href="@{/sanpham/page?p=__${currIndex-1}__}" href="#">Previous</a></li>
										<tr th:each="i: ${#numbers.sequence(0, numberOfPages - 1)}">
											<li class="page-item"><a
												th:style="${'background-color:' + (i==currIndex?'lightgrey':'white')}"
												th:href="@{/sanpham/page?p=__${i}__}" class="page-link"
												href="#" th:text="${i+1}"></a></li>
										</tr>
										<li class="page-item"
											th:if="(${currIndex}>-1 and (${currIndex})<${numberOfPages-1})"><a
											class="page-link"
											th:href="@{/sanpham/page?p=__${currIndex+1}__}" href="#">Next</a></li>
									</ul>
								</nav>
								<div class="d-flex justify-content-around">
									<nav aria-label="Page navigation example">
									<ul class="pagination">
										<li class="page-item"><a class="page-link" th:href="@{/sanpham/page?p=0}">First</a></li>
										<li class="page-item"><a
										class="page-link"
										th:href="@{/sanpham/page?p=__${numberOfPages-1}__}">Last</a></li>
									</ul>
								</nav>
								</div>
							</div>
                </div>
            </div>
        </div>
    </div>



    <!-- FOOTER -->
    <div th:replace = "~{/layout/footer :: footer}"></div>
    <button type="button" class="btn btn-primary btn-floating btn-lg" id="btn-back-to-top">
        <i class="ti-angle-double-up"></i>
    </button>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
        integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
        crossorigin="anonymous"></script>
    <script>
        $('.owl-carousel').owlCarousel({
            loop: true,
            margin: 15,
            nav: true,
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 2
                },
                1000: {
                    items: 4
                }
            }
        })
    </script>

    <script>
        let mybutton = document.getElementById("btn-back-to-top");
        window.onscroll = function () {
            scrollFunction();
        };

        function scrollFunction() {
            if (
                document.body.scrollTop > 20 ||
                document.documentElement.scrollTop > 20
            ) {
                mybutton.style.display = "block";
            } else {
                mybutton.style.display = "none";
            }
        }
        mybutton.addEventListener("click", backToTop);

        function backToTop() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>


</body>

</html>