<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CONVERSE || THÔNG TIN CÁ NHÂN</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
        integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
        crossorigin="anonymous" />
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
        integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="./css/mycss.css">
    <link rel="stylesheet" href="./font/themify-icons/themify-icons.css">
</head>

<body>
    <!-- header start -->
    <div th:replace = "~{/layout/user_menu :: user_menu}"></div>
    <!-- header end -->
    <!-- main changeinfo start -->
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <div class="text-center" style="font-size: medium;">
                            <img th:src="@{'/images/userImages/'+${u.hinh}}" alt="Profile Picture" class="rounded-circle mb-3"
                                style="margin: auto;">
                            <p class="card-text">Tài khoản: <b th:text=${u.email}></b></p>
                            <p class="card-text input-group"><strong
                                                            style="margin: 2% 3% 0 0;">Mật khẩu:</strong> <input
                                                            type="password" class="form-control" id="pass"
                                                            placeholder="Mật khẩu" name="pswd" th:value="${u.matkhau}" readonly="true"> <a
                                                            onclick="hidePass()" class="btn btn-cart"><i
                                                                class="ti-eye"></i></a> </p>
                        </div>
                        <hr>
                    </div>
                </div>
            </div>
            <div class="col-md-8" style="font-size: medium;">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Thông tin người dùng <button type="button" class="btn btn-info"
                                style="width: 15%; height: 8%; margin-left: 4%;" data-bs-target="#myDialog"
                                data-bs-toggle="modal">Chỉnh sửa</button></h5>
                        <ul class="list-group">
                            <li class="list-group-item"><b>Họ và tên</b> <br>
                                <p style="font-size: smaller; margin: auto;" th:text=${u.hoten}></p>
                            </li>
                            <li class="list-group-item"><b>Số điện thoại</b> <br>
                                <p style="font-size: smaller; margin: auto;" th:text=${u.sdt}></p>
                            </li>
                            <li class="list-group-item"><b>Email</b> <br>
                                <p style="font-size: smaller; margin: auto;" th:text=${u.email}></p>
                            </li>
                            <li class="list-group-item"><b>Địa chỉ</b> <br>
                                <p style="font-size: smaller; margin: auto;" th:text=${u.diachi}></p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- main changeinfo end -->

    <!--Dialog start-->
    <div class="modal fade" id="myDialog">
        <div class="modal-dialog" role="document" style="margin-right: 60%">
            <div class="modal-content" style="width: 250%;">
                <div class="modal-header">
                    <h5 class="modal-title">Đổi thông tin</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"></span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row article " style=" justify-content: center;">
                        <div class="col-md-11 mt-5"
                            style="background-color: white; box-shadow: 10px 10px 25px grey;padding: 0; ">
                            <div class="card">
                                <div class="card-header"
                                    style="font-weight: bolder; font-size: larger; color: rgb(25, 31, 32); text-align: center; font-size: medium;">
                                    Thông tin của bạn
                                </div>
                                <div class="card-body" style="font-size: medium;">
                                <div th:if="${message}">
			                    	<h5 class="text-danger text-center" th:text="${message}"></h5>
			                    </div>
                                    <form  th:object="${u}" action="/thaydoithongtin/luuthongtin" method="POST" enctype="multipart/form-data">
                                        <div class="row">
                                            <div class="mb-3 col-md-6">
                                                <label for="exampleFormControlInput1" class="form-label">Tên Người
                                                    Dùng</label>
                                                <input type="text" class="form-control" id="exampleFormControlInput1"
                                                    placeholder="" th:field="${u.hoten}">
                                            </div>
                                            <div class="mb-3 col-md-6">
                                                <label for="exampleFormControl Input1" class="form-label">Email</label>
                                                <input type="email" class="form-control" id="exampleFormControlInput1"
                                                    placeholder="" th:field="${u.email}" readonly="true">
                                            </div>
                                            <div class="mb-3 col-md-6">
                                                <label for="exampleFormControlInput1" class="form-label">Số Điện
                                                    Thoại</label>
                                                <input type="number" class="form-control" id="exampleFormControlInput1"
                                                    placeholder="" th:field="${u.sdt}">
                                            </div>
                                            <div class="mb-3 col-md-6">
                                                <label for="exampleFormControlInput1" class="form-label">Địa Chỉ</label>
                                                <input type="text" class="form-control" id="exampleFormControlInput1"
                                                    placeholder="" th:field="${u.diachi}">
                                            </div>
                                            <div class="mb-3 col-md-6">
                                                <label for="exampleFormControlInput1" class="form-label">Mật
                                                    khẩu</label>
                                                <input type="text" class="form-control" id="exampleFormControlInput1"
                                                    placeholder="" readonly="true" th:value=${u.matkhau} th:field="${u.matkhau}">
                                            </div>
                                            <div class="mb-3 col-md-6">
                                                <label for="exampleFormControlInput1" class="form-label">Vai
                                                    trò</label>
                                                    <div th:if="${u.vaitro}">
													     	<input type="text" class="form-control" id="exampleFormControlInput1"
                                                    		placeholder="" value="Quản lý" readonly="true">
													</div>
													<div th:unless="${u.vaitro}">
													     <input type="text" class="form-control" id="exampleFormControlInput1"
                                                    		placeholder="" value="Khách hàng" readonly="true">
													</div>
                                            </div>
                                            <div class="mb-3 col-md-6">
                                                <label for="anh" class="form-label">Hình ảnh</label> <br>
                                                <img th:src="@{'/images/userImages/'+${u.hinh}}"
                                                    style="width: 200px; height: fit-content;" alt="hinhanh" id="image-preview">
                                                <input type="file" class="form-control" id="anh" placeholder="" name="file" accept=".jpg, .jpeg, .png, .gif" onchange="previewImage(event)">
                                            </div>
                                        </div>
						                                        <div class="modal-footer">
						                    <button th:formaction="@{/thaydoithongtin/luuthongtin}" class="btn btn-primary">Lưu thông tin</button>
						                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Huỷ</button>
						                </div>
                                        
                               		</div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                
                
            </div>
        </div>
    </div>
    <!--Dialog end-->

    <!-- FOOTER start -->
    <footer class="text-center text-lg-start bg-light text-muted">
        <section class="">
            <div class="container-fluid text-justify text-md-start mt-5">
                <div class="row mt-3">
                    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                        <p style="text-indent: 30px; text-align: justify;margin-top: 37px; font-size: 17px;">
                            Tìm thấy câu trả lời cho độ bền không giới hạn mà CONVERSE luôn hướng tới để tiếp tục
                            phát triển bền bỉ.Đó là lý tưởng của sự mạnh mẽ, chức năng và khả năng hoạt động
                            tốt kết hợp với độ cứng cáp tuyệt đối.Lý tưởng này là nguồn gốc của độ cứng cáp
                            mà CONVERSE luôn tìm kiếm.
                        </p>
                    </div>

                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                        <h4 class="text-uppercase fw-bold mb-4">CỬA HÀNG TẠI HÀ NỘI</h4>
                        <p class="fs-17">187 Phố Vọng, Hai Bà Trưng, Hà Nội.</p>
                        <p class="fs-17">187 Phố Vọng-Quân Hai Bà Trưng-Hà Nội.</p>
                        <p class="fs-17">82 Cầu Giấy, Quan Hoa, Cầu Giấy.</p>
                    </div>

                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                        <h4 class="text-uppercase fw-bold mb-4">CỬA HÀNG TẠI TP.HCM</h4>
                        <p class="fs-17">497 Hoàng Văn Thụ, Phường 4, Q. Tân Bình, TP.HCM.</p>
                        <p class="fs-17">676 Lê Trọng Tấn, P. Bình Hưng Hòa, Q. Bình Tân, HCM.</p>
                        <p class="fs-17">20 đường 3 tháng 2, Phường 12, Quận 10, TPHCM.</p>
                    </div>

                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                        <h4 class="text-uppercase fw-bold mb-4">LIÊN LẠC</h4>
                        <p class="fs-17">CONVERSEvietnam.net@gmail.com</p>
                        <p class="fs-17">0105517236</p>
                    </div>
                </div>
            </div>
        </section>

        <div class="text-center p-4 fs-17" style="background-color: rgba(0, 0, 0, 0.05)">
            © 2023 Copyright:
            <a class="text-reset fw-bold" href="https://conversestore.vn/">Converse.Store_</a>
        </div>
    </footer>
    <button type="button" class="btn btn-primary btn-floating btn-lg" id="btn-back-to-top">
        <i class="ti-angle-double-up"></i>
    </button>
    <!-- FOOTER end -->



    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- Danh mục sản phẩm bắt đầu -->
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
        integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
        crossorigin="anonymous"></script>
    <script>
        $('.owl-carousel').owlCarousel({
            loop: true,
            margin: 15,
            nav: true,
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 2
                },
                1000: {
                    items: 4
                }
            }
        })
    </script>
    <!-- Danh mục sản phẩm kết thúc -->

    <!-- backToTop start -->
    <script>
        let mybutton = document.getElementById("btn-back-to-top");
        window.onscroll = function () {
            scrollFunction();
        };

        function scrollFunction() {
            if (
                document.body.scrollTop > 20 ||
                document.documentElement.scrollTop > 20
            ) {
                mybutton.style.display = "block";
            } else {
                mybutton.style.display = "none";
            }
        }
        mybutton.addEventListener("click", backToTop);

        function backToTop() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>
    <!-- backToTop end -->

    <!-- Showpass start -->
    <script>
        var click = true;
        var click1 = true;
        var click2 = true;
        function hidePass() {
            if (click) {
                document.getElementById('pass').type = "text";
                click = false;
            } else {
                document.getElementById('pass').type = "password";
                click = true;
            }

            if (click1) {
                document.getElementById('pass1').type = "text";
                click1 = false;
            } else {
                document.getElementById('pass1').type = "password";
                click1 = true;
            }

            if (click2) {
                document.getElementById('pass2').type = "text";
                click2 = false;
            } else {
                document.getElementById('pass2').type = "password";
                click2 = true;
            }

        } 
    </script>
    <!-- Showpass end -->

    <!-- Validation form start -->
    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function () {
            'use strict'

            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.querySelectorAll('.needs-validation')

            // Loop over them and prevent submission
            Array.prototype.slice.call(forms)
                .forEach(function (form) {
                    form.addEventListener('submit', function (event) {
                        if (!form.checkValidity()) {
                            event.preventDefault()
                            event.stopPropagation()
                        }

                        form.classList.add('was-validated')
                    }, false)
                })
        })()
    </script>
    <script type="text/javascript">
	    function previewImage(event) {
	    	  var input = event.target;
	    	  if (input.files && input.files[0]) {
	    	    var reader = new FileReader();
	    	    reader.onload = function(e) {
	    	      var imgElement = document.getElementById('image-preview');
	    	      imgElement.setAttribute('src', e.target.result);
	    	    }
	    	    reader.readAsDataURL(input.files[0]);
	    	  }
	    	}
    </script>
    <!-- Validation form end -->
</body>

</html>