<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CONVERSE || THÔNG TIN CÁ NHÂN</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
        integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
        crossorigin="anonymous" />
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
        integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="./css/mycss.css">
    <link rel="stylesheet" href="./font/themify-icons/themify-icons.css">
</head>

<body>
    <!-- header start -->
    <div id="header">
        <div class="menu">
            <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
                <div class="container-fluid">
                    <a class="navbar-brand" th:href="@{/trangchu}"><img src="./images/logo.png" alt="logo"></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="mynavbar">
                        <ul class="navbar-nav mx-auto">
                            <li class="nav-item"> 
                                <a class="nav-link nav-link-custom" th:href="@{/trangchu}">TRANG CHỦ</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link nav-link-custom" th:href="@{/sanpham}">SẢN PHẨM</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link nav-link-custom" th:href="@{/thongtin}">THÔNG TIN</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link nav-link-custom" th:href="@{/giohang}">GIỎ HÀNG</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link nav-link-custom dropdown-toggle" href="#" role="button"
                                    data-bs-toggle="dropdown">TÀI
                                    KHOẢN</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" th:href="@{/dangnhap}">ĐĂNG NHẬP</a></li>
                                    <li><a class="dropdown-item" th:href="@{/dangky}">ĐĂNG KÝ</a></li>
                                    <li><a class="dropdown-item" th:href="@{/doimatkhau}">ĐỔI MẬT KHẨU</a></li>
                                    <li><a class="dropdown-item" th:href="@{/quenmatkhau}">QUÊN MẬT KHẨU</a></li>
                                    <li><a class="dropdown-item" th:href="@{/thaydoithongtin}">THÔNG TIN CÁ NHÂN</a></li>
                                    <li><a class="dropdown-item" th:href="@{/donhang}">ĐƠN HÀNG</a></li>
                                    <li><a class="dropdown-item" th:href="@{/dangnhap}">ĐĂNG XUẤT</a></li>
                                </ul>
                            </li>
                        </ul>

                        <div class="p-3">
                            <a href="#" class="icon position-relative fs-4" data-bs-toggle="offcanvas"
                                data-bs-target="#demo">
                                <i class="ti-search"></i>
                            </a>
                        </div>
                        <div class="offcanvas offcanvas-bottom" id="demo">
                            <div class="offcanvas-header">
                                <h1 class="offcanvas-title" style="margin-left: 43%;">Tìm kiếm</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
                            </div>
                            <div class="offcanvas-body">
                                <div class="container input-group mb-3">
                                    <input type="text" class="form-control" placeholder="Bạn muốn tìm gì?">
                                    <button class="btn btn-success" type="submit">OK</button>
                                </div>
                            </div>
                        </div>
                        <div class="p-3">
                            <a th:href="@{/yeuthich}" class="icon position-relative fs-4">
                                <i class="ti-heart"></i>
                                <span
                                    class="small-icon position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                    0
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        <div class="menu-header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4 menu-item">
                        <h6>HÀNG CÓ SẴN CHÍNH HÃNG</h6>
                    </div>
                    <div class="col-md-4 menu-item">
                        <h6>ĐỔI TRẢ LINH HOẠT</h5>
                    </div>
                    <div class="col-md-4 menu-item">
                        <h6>SHIP HÀNG TOÀN QUỐC</h6>
                    </div>
                </div>
            </div>
        </div>

        <marquee class="marquee-test" width="100%" scrollamount="20" direction="left" height="auto"
            onmouseover="this.stop()" onmouseout="this.start()">
            Converse xin chào tất cả các bạn. Chào mừng các bạn đã đến với cửa hàng của chúng tôi. Chúng tôi luôn lấy uy
            tín đặt trên hàng đầu đối với khách hàng, hy vọng chúng tôi sẽ được phục vụ các bạn. Cám ơn!
        </marquee>
    </div>
    <!-- header end -->
    <!-- main changeinfo start -->
    <div id="mainReceipt_Info">
        <div class="row " style="display: flex; justify-content: center;">
            <div class="card col-md-4 p-0" >
                <div class="card-header" >
                <h2 class="mb-0" style="padding: 2rem;">Thông tin mua hàng</h2></div>
                <div class="card-body">
                    <form action="">
                        <div class="row">
                            <div class="mb-3">
                                <label for="exampleFormControlInput1" class="form-label">Họ Và Tên:</label>
                                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="">
                            </div>
                            <div class="mb-3">
                                <label for="exampleFormControlInput1" class="form-label">Email:</label>
                                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
                            </div>
                            <div class="mb-3">
                                <label for="exampleFormControlInput1" class="form-label">Số Điện Thoại:</label>
                                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="">
                            </div>
                            <div class="mb-3">
                                <label for="exampleFormControlTextarea1" class="form-label">Địa Chỉ:</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                            </div>

                        </div>


                    </form>
                </div>
            </div>
            <div class="card col-md-4 " >
                
                <div class="card-body" >

                    <table class="table table-striped text-center table-hover table-size fs-17">
                        <thead>
                            <tr style="font-size: 20px;">
                                <th class="left">Sản Phẩm</th>
                                <th>Size</th>
                                <th>Số Lượng</th>
                                <th class="right"></th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="left">Converse Renew Canvas</td>
                                <td>38</td>
                                <td>1</td>
                                <td class="right">1.990.000đ</td>

                            </tr>
                            <tr>
                                <td class="left">Converse Renew Canvas</td>
                                <td>38</td>
                                <td>1</td>
                                <td class="right">1.990.000đ</td>

                            </tr>
                            <tr>
                                <td class="left">Converse Renew Canvas</td>
                                <td>38</td>
                                <td>1</td>
                                <td class="right">1.990.000đ</td>

                            </tr>
                            <tr>
                                <td class="left">Converse Renew Canvas</td>
                                <td>38</td>
                                <td>1</td>
                                <td class="right">1.990.000đ</td>
                            </tr>


                        </tbody>
                        <thead>
                            <tr style="font-size: 20px;">
                                <th class="left">Tạm Tính:</th>
                                <th></th>
                                <th></th>
                                <th class="right">7.960.000đ</th>

                            </tr>
                            <tr style="font-size: 30px;">
                                <th class="left">Tổng Tiền:</th>
                                <th></th>
                                <th></th>
                                <th class="right">7.960.000đ</th>

                            </tr>
                        </thead>
                        
                    </table>
                    
                    <div class="back" style="padding: 10%;">
                        
                        <div class="form-check">
                            <input style="scale: 1.5;" class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                            <label style="font-size: 1rem;font-weight: bolder;" class="form-check-label" for="flexRadioDefault2">
                             Thanh toán tiền mặt
                            </label>
                          </div>
                            <button class="btn btn-success"
                                style="width: 100%;height: 4rem; font-size: 20px; font-weight: bold; color: white;">Đặt hàng</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <!-- main changeinfo end -->

        <!-- FOOTER start -->
        <footer class="text-center text-lg-start bg-light text-muted">
            <section class="">
                <div class="container-fluid text-justify text-md-start mt-5">
                    <div class="row mt-3">
                        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                            <p style="text-indent: 30px; text-align: justify;margin-top: 37px; font-size: 17px;">
                                Tìm thấy câu trả lời cho độ bền không giới hạn mà CONVERSE luôn hướng tới để tiếp tục
                                phát triển bền bỉ.Đó là lý tưởng của sự mạnh mẽ, chức năng và khả năng hoạt động
                                tốt kết hợp với độ cứng cáp tuyệt đối.Lý tưởng này là nguồn gốc của độ cứng cáp
                                mà CONVERSE luôn tìm kiếm.
                            </p>
                        </div>

                        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                            <h4 class="text-uppercase fw-bold mb-4">CỬA HÀNG TẠI HÀ NỘI</h4>
                            <p class="fs-17">187 Phố Vọng, Hai Bà Trưng, Hà Nội.</p>
                            <p class="fs-17">187 Phố Vọng-Quân Hai Bà Trưng-Hà Nội.</p>
                            <p class="fs-17">82 Cầu Giấy, Quan Hoa, Cầu Giấy.</p>
                        </div>

                        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                            <h4 class="text-uppercase fw-bold mb-4">CỬA HÀNG TẠI TP.HCM</h4>
                            <p class="fs-17">497 Hoàng Văn Thụ, Phường 4, Q. Tân Bình, TP.HCM.</p>
                            <p class="fs-17">676 Lê Trọng Tấn, P. Bình Hưng Hòa, Q. Bình Tân, HCM.</p>
                            <p class="fs-17">20 đường 3 tháng 2, Phường 12, Quận 10, TPHCM.</p>
                        </div>

                        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                            <h4 class="text-uppercase fw-bold mb-4">LIÊN LẠC</h4>
                            <p class="fs-17">CONVERSEvietnam.net@gmail.com</p>
                            <p class="fs-17">0105517236</p>
                        </div>
                    </div>
                </div>
            </section>

            <div class="text-center p-4 fs-17" style="background-color: rgba(0, 0, 0, 0.05)">
                © 2023 Copyright:
                <a class="text-reset fw-bold" href="https://conversestore.vn/">Converse.Store_</a>
            </div>
        </footer>
        <button type="button" class="btn btn-primary btn-floating btn-lg" id="btn-back-to-top">
            <i class="ti-angle-double-up"></i>
        </button>
        <!-- FOOTER end -->



        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

        <!-- Danh mục sản phẩm bắt đầu -->
        <!-- Option 1: Bootstrap Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
            crossorigin="anonymous"></script>

</body>

</html>