<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CONVERSE || TRANG CHỦ</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
        integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
        crossorigin="anonymous" />
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
        integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw=="
        crossorigin="anonymous" />
    <link th:href="@{/css/mycss.css}" rel="stylesheet" />
    <link th:href="@{/font/themify-icons/themify-icons.css}" rel="stylesheet" />
</head>

<body>
    <!-- User_Menu bắt đầu-->
    <div th:replace = "~{/layout/user_menu :: user_menu}"></div>
    <!-- User_Menu kết thúc-->

    <!-- Main content area -->
    <div id="mainIndex">
        <h4 class="title-bosuutap">BỘ SƯU TẬP</h4>
        <!-- Carousel START -->
        <div class="slider">

            <div id="demo" class="carousel slide" data-bs-ride="carousel">

                <!-- Indicators/dots -->
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
                    <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
                </div>

                <!-- The slideshow/carousel -->
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="/images/slideShow1.jpg" alt="Los Angeles" width="100%" height="600px"
                            class="d-block">
                        <div class="carousel-caption">
                            <div class="row">
                                <div class="col-sm-4 carousel-content-green">GIẢM ĐẾN 70%</div>
                                <div class="col-sm-8 carousel-content">SALE LÊN ĐẾN 70%
                                    CÁC MẪU VANS SIÊU HOT</div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="/images/slideShow2.jpg" alt="Chicago" width="100%" height="600px" class="d-block">
                        <div class="carousel-caption">
                            <div class="row">
                                <div class="col-sm-8 carousel-content">CHỈ BÁN GIÀY CHÍNH HÃNG CÁC MẪU MỚI HOT NHẤT
                                </div>
                                <div class="col-sm-4 carousel-content-green">VÀO CỬA HÀNG</div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Left and right controls/icons -->
                <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </button>
            </div>
        </div>
        <!-- Carousel END -->

        <!-- DANH MỤC SẢN PHẨM START -->
        <div id="category">
            <h4 class="title-bosuutap">DANH MỤC SẢN PHẨM</h4>
            <div class="container-fluid my-5">
                <div class="row">
                    <div class="col-12 m-auto">
                        <div class="owl-carousel owl-theme">
                        
                            <div th:each="dm : ${danhmucs}" th:value="${dm.madm}"  class="item mb-4">
                                <div class="card border-0 shadow">
                                    <a th:href="@{/sanpham/dm/__${dm.madm}__}"><img th:src="@{'/imageSP/'+${dm.anhdm}}" alt="hinhanh" class="card-img-top"
                                            style="height: 300px;">
                                        <div class="card-body">
                                            <div class="card-title text-center">
                                                <h4 th:text="${dm.tendm}"></h4>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- DANH MỤC SẢN PHẨM END -->
        <!-- TOP 10 START -->
        <div id="top-10">
            <h4 class="title-bosuutap">TOP SẢN PHẨM GIẢM GIÁ</h4>
            <div class="container-fluid">
                <div class="row">
                    <div th:each="sanpham: ${sanphams}" class="col-xl-2 col-lg-3 col-sm-4 col-6 mb-4" >
                        <div class="card" style="width:100%">
                            <a th:href="@{/sanpham/chitietsp/__${sanpham.masp}__}"><img class="card-img-top" th:src="@{/imageSP/{img}(img=${sanpham.hinhanh1})}"
                                    alt="Card image" style="width:100%"></a>
                            <div class="card-body" style="flex-direction:column-reverse">
                               <div>
                                <a th:href="@{/sanpham/chitietsp/__${sanpham.masp}__}">
                                    <h4 class="card-title text-center" th:text="${sanpham.tensp}"></h4>
                                    <div class="price-product">
                                    <div th:if="${sanpham.giamgia.giamgia == 0}" >
                                    	
                                    	<h4 class="card-title" ><span class="card-title-normal"  th:text="${#numbers.formatDecimal(sanpham.gia, 0, 'COMMA', 0 , 'POINT')} + ' vnđ'"></span></h4>
                                    	<h4 class="card-title" style="color: white;">123</h4>
                                    </div>
                                    <div th:if="${sanpham.giamgia.giamgia != 0}">
                                    	<h4 class="card-title"><span class="card-title-old"  th:text="${#numbers.formatDecimal(sanpham.gia, 0, 'COMMA', 0 , 'POINT')} + ' vnđ'"></span></h4>
											 <h4 class="card-title"><span class="card-title-sale"  th:text="${#numbers.formatDecimal(sanpham.giamgiasp, 0, 'COMMA', 0 , 'POINT')}  + ' vnđ'"></span></h4>
                                    </div>
											
                                    </div>
                                </a>
                                <div class="row d-flex justify-content-center">
                                    <a th:href="@{/sanpham/chitietsp/__${sanpham.masp}__}" class="btn product-btn"><i class="ti-shopping-cart"></i> Chi Tiết</a>
                                    <a th:href="@{'/addyeuthich/'+ ${sanpham.masp}}" class="btn product-btn"><i class="ti-heart"></i> Yêu thích</a>
                                </div>
                               </div>
                            </div>
                        </div>
                    </div>
                   <div class="d-flex justify-content-between">
								<nav aria-label="Page navigation example">
									<ul class="pagination">
										<li class="page-item" th:if="${currIndex}>0"><a
											class="page-link"
											th:href="@{/trangchu/page?p=__${currIndex-1}__}" href="#">Previous</a></li>
										<tr th:each="i: ${#numbers.sequence(0, numberOfPages - 1)}">
											<li class="page-item"><a
												th:style="${'background-color:' + (i==currIndex?'lightgrey':'white')}"
												th:href="@{/trangchu/page?p=__${i}__}" class="page-link"
												href="#" th:text="${i+1}"></a></li>
										</tr>
										<li class="page-item"
											th:if="(${currIndex}>-1 and (${currIndex})<${numberOfPages-1})"><a
											class="page-link"
											th:href="@{/trangchu/page?p=__${currIndex+1}__}" href="#">Next</a></li>
									</ul>
								</nav>
								<div class="d-flex justify-content-around">
									<nav aria-label="Page navigation example">
									<ul class="pagination">
										<li class="page-item"><a class="page-link" th:href="@{/trangchu/page?p=0}">First</a></li>
										<li class="page-item"><a
										class="page-link"
										th:href="@{/trangchu/page?p=__${numberOfPages-1}__}">Last</a></li>
									</ul>
								</nav>
								</div>
							</div>
                </div>
            </div>
        </div>
        <!-- TOP 10 END -->
        <div class="container-fluid">


            <div id="content">
                <div class="row">
                    <div class="col-md-3">
                        <div class="content-body">
                            <img src="./images/banner1.png" style="margin-left: 34%; padding: 20px 10px;" alt="">

                            <h5>CAM KẾT CHỈ BÁN
                                GIÀY CONVERSE CHÍNH HÃNG</h5>
                            <p>bạn có thể liên hệ của hàng check code thoải mái trước khi mua sản phẩm</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="content-body">
                            <img src="./images/banner2.png" style="margin-left: 34%; padding: 20px 10px;" alt="">

                            <h5>BẢO HÀNH GIÀY
                                3 THÁNG</h5>
                            <p>để bạn yên tâm sử dụng.
                                Bạn đọc kỹ điều khoản</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="content-body">
                            <img src="./images/banner3.png" style="margin-left: 34%; padding: 20px 10px;" alt="">

                            <h5>ĐỔI TRẢ TRONG VÒNG
                                3 NGÀY</h5>
                            <p>Đổi trả sản phẩm linh hoạt.Nhưng
                                Bạn hãy đọc kỹ điều khoản</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="content-body">
                            <img src="./images/banner4.png" style="margin-left: 34%; padding: 20px 10px;" alt="">

                            <h5>SHIP HÀNG TOÀN QUỐC
                                QUA NHIỀU KÊNH</h5>
                            <p>Linh hoạt cho bạn nhận hàng
                                có thể thanh toán COD hoặc chuyển khoản</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- FOOTER bắt đầu-->
    <div th:replace = "~{/layout/footer :: footer}"></div>
    <!-- FOOTER kết thúc-->
    <button type="button" class="btn btn-primary btn-floating btn-lg" id="btn-back-to-top">
        <i class="ti-angle-double-up"></i>
    </button>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
        integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
        crossorigin="anonymous"></script>
    <script>
        $('.owl-carousel').owlCarousel({
            loop: true,
            margin: 15,
            nav: true,
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 2
                },
                1000: {
                    items: 4
                }
            }
        })
    </script>

    <script>
        let mybutton = document.getElementById("btn-back-to-top");
        window.onscroll = function () {
            scrollFunction();
        };

        function scrollFunction() {
            if (
                document.body.scrollTop > 20 ||
                document.documentElement.scrollTop > 20
            ) {
                mybutton.style.display = "block";
            } else {
                mybutton.style.display = "none";
            }
        }
        mybutton.addEventListener("click", backToTop);

        function backToTop() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>


</body>

</html>